<%= @blog1.title %>
<%= link_to 'show_all blogs', blogs_path%>

<% @blog1.comments.each do |com| %>
<p>
  comment
  <%= com.content%>
  <%= link_to 'edit_comment', edit_blog_comment_path(@blog1,com)%>
  </p>
<% end%>
<%= render 'comment_form' %>