<%= form_for :submit ,url:"/question/submit_ans", method: :POST do |f|%>
<% @questions.each do |question| %>
<p>
   <strong>Question:-</strong><%= question.name %>
   <%#= f.hidden_field :question_id, :value => question.id %>
   <% question.answers.each do |answer| %>
      <p>
       <strong>Answer:-</strong> <%= answer.ans %>
       <input type="checkbox" name="<%= answer.id %>" value="<%= answer.id %>" > <br> </p>
    
   <%end%>
</p>

<%end%>

   <% unless Submit.where(user_id: current_user.id).first.present? %>
       <%= f.submit "submit"%>
       <%else%>
        <p> You alredy submit a form </p>
   <%end%>
<%end%>
